@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* --- HEADER --- */
.header-sticky {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background: var(--bg-header);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1000;
}

.header-marca {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-marca #logo {
    width: 35px;
    height: auto;
}

.header-marca p {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 600;
  color: var(--color-madera);
  font-size: 1.2rem;
  white-space: nowrap;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-right a,
.header-right img {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-texto);
  cursor: pointer;
  text-decoration: none;
}

.header-right .material-symbols-outlined {
  font-size: 28px;
  transition: color 0.3s ease, font-size 0.3s ease;
}
.header-carrito {
  position: relative;  /* IMPORTANTE para que numerito se posicione respecto al carrito */
  display: flex;
  align-items: center;
  justify-content: center;
}
.numerito {
  position: absolute;
  bottom: 30px;    
  right: 55px;
  font-size: 0.8rem;
  padding: 0.15rem 0.35rem;
  background-color: var(--color-dorado);
  color: var(--color-texto-blanco);
  border-radius: 50px;
}

.header-menu {
    width: 30px;
    height: auto;
}

.header-nav {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background-color: var(--color-fondo);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    box-shadow: var(--sombra-suave);
    transition: right 0.3s ease;
    z-index: 1001;
}

.header-nav.open {
    right: 0;
}

.btnCerrarMenu {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    cursor: pointer;
}

.header-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 60px;
}

.header-nav ul li a {
    text-decoration: none;
    color: var(--color-texto);
    font-size: 1.1rem;
    transition: color 0.3s ease, font-size 0.3s ease;
}

.header-nav ul li a:hover {
    color: var(--color-dorado-hover);
    font-size: 1.25rem;
}

.user-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
}

.btn-admin {
  background: #28a745;
  color: var( --color-texto-blanco);
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  margin-left: 15px;
}

.btn-admin:hover {
  background: #218838;
}

.admin-link {
  color: #ff6b6b !important;
  font-weight: bold;
}

.admin-link:hover {
  color: #ff5252 !important;
  background-color: rgba(255, 107, 107, 0.1);
}

/* Menú desplegable */
.user-dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: var(--color-fondo); 
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
  overflow: hidden;
  width: 160px; 
  max-height: 0;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.3s ease;
  z-index: 100;
}

.user-container .user-dropdown.show {
  max-height: 500px; 
  opacity: 1;
  transform: translateY(0);
}

.user-welcome {
  font-size: 0.85rem;
  color: var(--color-verde);
  white-space: nowrap;
}

/* Elementos dentro del dropdown */
.user-dropdown p.user-nombre {
  margin: 10px;
  font-weight: bold;
  font-size: 14px;
}

.user-dropdown button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.2s;
  color: var(--color-texto);
}

.user-dropdown button:hover {
  background-color: var(--color-fondo-secundario);
}

.user-dropdown .logout-btn {
  color: #d9534f; 
}



/*
--- CONFIGURACIÓN DEL FOOTER ---
*/

footer {
    background: var(--bg-footer);
    color: var(--color-texto);
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer-header{
  display: flex;
  flex-direction: row;
  gap: 10px;
      margin-left: 1rem;
    margin-right: 1rem;
}

.footer-columna1{
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 50vw;
  text-align: left;
  gap: 10px;
}
.slogan{
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  color: var(--color-rosa);
  letter-spacing: 1px;
}

.footer-columna1 > a{
    text-decoration: none;
    color: var(--color-texto);
    transition: all 0.3s ease;
    position: relative;
    padding-bottom: 3px;
    width: fit-content;
}
.footer-columna1 > a::after {
  content: "";
  position: absolute;
  left: 0;                 /* línea arranca desde la izquierda del texto */
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: var(--color-rosa);
  transform: scaleX(1);
  transform-origin: left; 
  transition: transform 0.3s ease-out;
}
.footer-columna1 > a:hover{ color: var(--color-texto-invertido); }
.footer-columna1 > a:hover::after{transform: scaleX(0);}

.contactos{
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: left;
}

.contactos img{
  transition: filter 0.3s ease-out, transform 0.3s ease-out;
  width: 45px;
}
#icono-ig-contacto {filter: var(--filtro-icono-ig);width: 30px;}
#icono-wsp-contacto {filter:var(--filtro-iconos);}
.contactos img:hover{
  transform: scale(1.05);
}

.footer-columna2{
  display: block;
  width: 50vw;
  text-align: left;
  gap: 10px;
}

.footer-columna2 .ubi-taller p:first-child {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;   
  letter-spacing: 1px;     
  font-size: 1rem;
  color: #A0522D;           
  margin-bottom: 0.3rem;
}

.footer-columna2 .ubi-taller p:nth-child(2) {
  font-size: 0.9rem;
  margin: 0;
}

.footer-columna2 .horarios {
  margin-top: 1rem;
  display: flex;
  flex: row;
  align-items: center;
}

.horarios img{
  width: auto;
  height: 40px;
  filter: var(--filtro-iconos);
}

.footer-columna2 .horarios p {
  font-size: 0.85rem;
  margin: 0.2rem 0;
  position: relative;
  padding-left: 1.2rem;       
}

.footer-columna2 .horarios p::before {             
  color: var(--color-rosa);            
}

/*Para pantallas más grandes*/
@media (min-width: 768px) {
  html {
    font-size: 20px; 
  }

  .header-sticky {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    height: 13vh;
    padding: 0 1.5rem;
  }

  .header-right {
    gap: 20px;
  }

  .header-nav {
    position: static;
    flex-direction: row;
    height: auto;
    width: auto;
    background: none;
    box-shadow: none;
    padding: 0;
    justify-content: center;
  }

  .header-nav ul {
    flex-direction: row;
    gap: 1rem;
    margin-top: 0;
  }

  .header-nav ul li a:hover, .header-right > a:hover{
    color: rgba(212, 164, 55, 0.5);
    font-size: 1rem;
  }

  .header-marca p {
    font-size: 1.2rem;
  }

  .header-marca #logo {
    width: 40px;
  }

  .material-symbols-outlined {
    font-size: 40px;
  }

  .numerito {
    font-size: 0.8rem;
    bottom: 15px;    /* ajusta según necesidad */
    right: 15px;
  }

}

.modal {
    display: none; /* oculto por defecto */
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: var(--color-fondo);
    padding: 1.5rem;
    border-radius: 8px;
    max-width: 300px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.modal-content h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.modal-content input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-content button {
    padding: 0.5rem;
    background-color: var(--color-dorado);
    border: none;
    border-radius: 5px;
    color: var(--color-texto-blanco);
    font-weight: bold;
    cursor: pointer;
}

.close {
  align-self: flex-end;
  font-size: 1.5rem;
  cursor: pointer;
}

.loginForm{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.iconoUsuario , .header-carrito {
  color: var(--color-texto); 
  transition: color 0.3s ease;
}

.header-usuario:hover, .header-usuario.logueado:hover, .header-carrito:hover{
  color: rgba(212, 164, 55, 0.5); 
  cursor: pointer;
}

.header-usuario.logueado {
  color: var(--color-verde); 
}

.errorLogin{
  margin-top: 10px;
  background-color: brown;
  padding: 5px;
  border-radius: 5px;
  color:var(--color-texto-blanco);
  width:fit-content;
  font-size: 16px;
  text-align: right;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  min-height: 1.2em;
}

.errorLogin.active {
  opacity: 1;                
}

.registro-texto{
  font-size: 14px;
  color: var(--color-texto);
}

.link-registrate{
  text-decoration: none;
  color: var(--color-texto-secundario);
  transition: all 0.3s ease;
  position: relative;
  padding-bottom: 3px;
  width: fit-content;
  cursor: pointer;
}
.link-registrate::after {
  content: "";
  position: absolute;
  left: 0;                 
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: var(--color-rosa);
  transform: scaleX(1);
  transform-origin: left; 
  transition: transform 0.3s ease-out;
}
.link-registrate:hover::after{transform: scaleX(0);}

.botones-cerrar-volver {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.volver {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--color-texto);
}

.password, .repetir-password {
  position: relative;         
  display: flex;
  align-items: center;    
}

.password input, .repetir-password input {
  width: 100%;
  padding-right: 35px;        
  height: 40px;             
  box-sizing: border-box;
}

.password-toggle {
  position: absolute;
  right: 10px;                 
  top: 50%;                  
  transform: translateY(-50%); 
  cursor: pointer;
  font-size: 20px;             
  color: var(--color-texto-secundario);
}

.button-submit{
  transition: all 0.8s ease;
}

.button-submit:hover{
  background-color: transparent;
  color: var(--color-dorado);
  border: 1px solid #D4A437;
}

.numerito {
  display: inline-block;
  transition: transform 0.2s ease;
}

.numerito.bounce {
  animation: bounce 0.3s;
}

@keyframes bounce {
  0% { transform: scale(1); }
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
}

/* Contenedor del switch */
.switch-theme {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Botón del switch*/
.theme-toggle {
  background: var(--color-fondo-secundario);
  color: var(--color-texto);
  border: 2px solid var(--color-dorado);
  border-radius: 50%;
  padding: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Hover */
.theme-toggle:hover {
  background: var(--color-dorado-hover);
  transform: scale(1.05);
  box-shadow: var(--sombra-dorada);
}